body {
    font-family: Arial;
}
button {
    cursor: pointer;
}

.div-grid,
.div-grid-input {
    display: grid;
    grid-template-columns: 200px 150px 120px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}
.div-grid-input {
    margin-bottom: 10px;
    align-items: stretch;
}

.input-name {
    padding: 10px 10px;
}
.input-date {
    padding: 10px 10px;
}
.button-add {
    
    border-color: lightgreen;
    padding: 15px 30px;
    font-weight: bold;
    color: white;
    background-color: green;
}
.button-delete {
    border-color: lightcoral;
    background-color: red;
    color: white;
}